* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* typo */
h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 5px 0
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

p.author {
    opacity: .5;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0;
}

p.year {
    font-size: 10px;
    font-weight: 400;
}


body > .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header {
    height: 60px;
    background-color: black;
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

header i {
    font-size: 30px;
}

main {
    background-color: #141922;
    flex-grow: 1;
}

main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.album {
    width: calc((100% - 60px) / 3);
    background-color: black;
    margin-bottom: 30px;
    padding: 15px;
}
.album__img {
    height: 100px;
    width: 100%;
    background-color: blue;
}

.album__caption {
    text-align: center;
    margin: 10px 0;
}

